<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
  <article class="bg-neutral-950 rounded-md p-4 flex justify-between gap-3">
    <div class="flex flex-col gap-4">
      <h3 class="font-semibold text-white">Avg. Order Value</h3>
      <div class="flex flex-col">
        <span class="text-2xl text-white font-bold">$72.98</span>
        <span class="text-gray-500 text-sm"
          ><span class="text-green-500">+3.16%</span> from last month</span
        >
      </div>
    </div>
    <div>
      <div class="rounded-md p-3 bg-white">
        <svg
          fill="currentColor"
          class="text-neutral-950 size-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            d="M448 80l0 48c0 44.2-100.3 80-224 80S0 172.2 0 128L0 80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6L448 288c0 44.2-100.3 80-224 80S0 332.2 0 288L0 186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6l0 85.9c0 44.2-100.3 80-224 80S0 476.2 0 432l0-85.9z"
          />
        </svg>
      </div>
    </div>
  </article>
  <article
    class="bg-white border border-gray-200 rounded-md p-4 flex justify-between gap-3"
  >
    <div class="flex flex-col gap-4">
      <h3 class="font-semibold text-neutral-950">Total Orders</h3>
      <div class="flex flex-col">
        <span class="text-2xl text-neutral-950 font-bold">$2219</span>
        <span class="text-gray-500 text-sm"
          ><span class="text-red-500">+1.18%</span> from last month</span
        >
      </div>
    </div>
    <div>
      <div class="rounded-md p-3 bg-gray-50">
        <svg
          fill="currentColor"
          class="text-neutral-950 size-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M240.1 4.2c9.8-5.6 21.9-5.6 31.8 0l171.8 98.1L448 104l0 .9 47.9 27.4c12.6 7.2 18.8 22 15.1 36s-16.4 23.8-30.9 23.8L32 192c-14.5 0-27.2-9.8-30.9-23.8s2.5-28.8 15.1-36L64 104.9l0-.9 4.4-1.6L240.1 4.2zM64 224l64 0 0 192 40 0 0-192 64 0 0 192 48 0 0-192 64 0 0 192 40 0 0-192 64 0 0 196.3c.6 .3 1.2 .7 1.8 1.1l48 32c11.7 7.8 17 22.4 12.9 35.9S494.1 512 480 512L32 512c-14.1 0-26.5-9.2-30.6-22.7s1.1-28.1 12.9-35.9l48-32c.6-.4 1.2-.7 1.8-1.1L64 224z"
          />
        </svg>
      </div>
    </div>
  </article>
  <article
    class="bg-white border border-gray-200 rounded-md p-4 flex justify-between gap-3"
  >
    <div class="flex flex-col gap-4">
      <h3 class="font-semibold text-neutral-950">Lifetime Value</h3>
      <div class="flex flex-col">
        <span class="text-2xl text-neutral-950 font-bold">$560</span>
        <span class="text-gray-500 text-sm"
          ><span class="text-green-500">+2.48%</span> from last month</span
        >
      </div>
    </div>
    <div>
      <div class="rounded-md p-3 bg-gray-50">
        <svg
          fill="currentColor"
          class="text-neutral-950 size-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M228.3 469.1L47.6 300.4c-4.2-3.9-8.2-8.1-11.9-12.4l87 0c22.6 0 43-13.6 51.7-34.5l10.5-25.2 49.3 109.5c3.8 8.5 12.1 14 21.4 14.1s17.8-5 22-13.3L320 253.7l1.7 3.4c9.5 19 28.9 31 50.1 31l104.5 0c-3.7 4.3-7.7 8.5-11.9 12.4L283.7 469.1c-7.5 7-17.4 10.9-27.7 10.9s-20.2-3.9-27.7-10.9zM503.7 240l-132 0c-3 0-5.8-1.7-7.2-4.4l-23.2-46.3c-4.1-8.1-12.4-13.3-21.5-13.3s-17.4 5.1-21.5 13.3l-41.4 82.8L205.9 158.2c-3.9-8.7-12.7-14.3-22.2-14.1s-18.1 5.9-21.8 14.8l-31.8 76.3c-1.2 3-4.2 4.9-7.4 4.9L16 240c-2.6 0-5 .4-7.3 1.1C3 225.2 0 208.2 0 190.9l0-5.8c0-69.9 50.5-129.5 119.4-141C165 36.5 211.4 51.4 244 84l12 12 12-12c32.6-32.6 79-47.5 124.6-39.9C461.5 55.6 512 115.2 512 185.1l0 5.8c0 16.9-2.8 33.5-8.3 49.1z"
          />
        </svg>
      </div>
    </div>
  </article>
</section>
<section class="grid grid-cols-1 xl:grid-cols-2 gap-4 mt-4">
  <article
    class="p-4 bg-white border border-gray-200 rounded-md flex flex-col gap-2"
  >
    <div class="flex justify-between gap-4">
      <h2 class="text-base sm:text-xl font-bold text-neutral-950">
        Sales Overtime
      </h2>
      <div class="flex gap-2">
        <div class="flex items-center bg-gray-50 p-2 sm:px-4 rounded-md">
          <div class="rounded-full bg-purple-600 size-3 me-2"></div>
          <p class="text-sm font-semibold text-neutral-950">Revenue</p>
        </div>
        <div class="flex items-center bg-gray-50 p-2 sm:px-4 rounded-md">
          <div class="rounded-full bg-primary-500 size-3 me-2"></div>
          <p class="text-sm font-semibold text-neutral-950">Invested</p>
        </div>
      </div>
    </div>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [dataLabels]="chartOptions.dataLabels"
      [legend]="chartOptions.legend"
      [grid]="chartOptions.grid"
      [yaxis]="chartOptions.yaxis"
    />
  </article>
  <article
    class="p-4 bg-white border border-gray-200 rounded-md flex flex-col gap-2"
  >
    <div class="flex justify-between gap-4">
      <h2 class="text-base sm:text-xl font-bold text-neutral-950">
        Best Offers Products
      </h2>
      <a
        routerLink="/products"
        role="button"
        class="bg-gray-50 hover:bg-gray-100 focus:ring-4 focus:ring-gray-50 p-2 sm:px-4 rounded-md text-sm font-semibold text-neutral-950"
      >
        See All
      </a>
    </div>
    <div class="grid grid-cols-1 gap-3">
      @for (offer of bestOffersProducts(); track $index) {
      <div class="flex gap-4 justify-between">
        <div class="flex gap-4">
          <div class="bg-gray-50 rounded-md p-2 border border-gray-200">
            <img
              class="size-12"
              [src]="offer.product.images[0]"
              [alt]="offer.product.name"
            />
          </div>
          <div class="flex flex-col">
            <p class="font-semibold text-neutral-950 text-base">
              {{ offer.product.name }}
            </p>
            <div class="flex gap-2 items-baseline font-extrabold">
              <p class="text-sm text-neutral-950">
                {{ offer.discountPrice | currency }}
              </p>
              <p class="text-xs text-gray-500 line-through">
                {{ offer.product.price | currency }}
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col text-sm items-end gap-1">
          <p class="text-green-500 font-semibold flex items-center gap-1">
            <span class="size-3 rounded-full bg-green-500"></span>
            Available
          </p>
          <p class="text-gray-500 text-xs text-end">
            {{ offer.product.stock }} stocks remaining
          </p>
        </div>
      </div>
      }
    </div>
  </article>
</section>
<section
  class="overflow-x-auto p-4 bg-white border border-gray-200 rounded-md mt-4"
>
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-4 py-3">Order Id</th>
        <th scope="col" class="px-4 py-3">Product Name</th>
        <th scope="col" class="px-4 py-3">Order Date</th>
        <th scope="col" class="px-4 py-3">Price</th>
        <th scope="col" class="px-4 py-3">Payment Method</th>
        <th scope="col" class="px-4 py-3">Status</th>
      </tr>
    </thead>
    <tbody>
      @for (order of orders(); track $index) {
      <tr class="border-b hover:bg-gray-100">
        <td
          scope="row"
          class="flex items-center px-4 py-2 font-bold text-gray-900 whitespace-nowrap"
        >
          {{ order.id }}
        </td>
        <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
          {{ order.productName }}
        </td>
        <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
          {{ order.date | date }}
        </td>
        <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
          {{ order.price | currency }}
        </td>
        <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
          {{ order.paymentMethod }}
        </td>
        <td
          class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap"
          [class.text-red-500]="order.status.toString() == 'Cancelled'"
          [class.text-primary-500]="order.status.toString() == 'Shipped'"
          [class.text-orange-400]="order.status.toString() == 'Processing'"
          [class.text-green-500]="order.status.toString() == 'Delivered'"
        >
          {{ order.status }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
