<div
  id="sortDropdown"
  class="z-50 hidden w-64 divide-y divide-gray-100 rounded-md bg-white shadow"
  data-popper-placement="bottom"
>
  <ul
    class="p-2 text-left text-sm font-medium text-gray-500"
    aria-labelledby="sortDropdownButton"
  >
    <li>
      <a
        role="button"
        (click)="sort('Name (A-Z)')"
        class="group inline-flex w-full items-center rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-900"
      >
        Name (A-Z)
      </a>
    </li>
    <li>
      <a
        role="button"
        (click)="sort('Name (Z-A)')"
        class="group inline-flex w-full items-center rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-900"
      >
        Name (Z-A)
      </a>
    </li>
    <li>
      <a
        role="button"
        (click)="sort('Price (Low to High)')"
        class="group inline-flex w-full items-center rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-900"
      >
        Price (Low to High)
      </a>
    </li>
    <li>
      <a
        role="button"
        (click)="sort('Price (High to Low)')"
        class="group inline-flex w-full items-center rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-900"
      >
        Price (High to Low)
      </a>
    </li>
  </ul>
</div>
